
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <h6>Made with ❤️ by Anand Boddh  &copy copyright 2021 <br> <br>
      <a href="/contact">CONTACT US</a>
    </h6>
  </div>
</div>
</body>
</html>
